/* Variáveis */ 
:root {
    --bold: "San Francisco Display Bold";
    --semi: "San Francisco Display Semibold";
    --medio: "San Francisco Display Medium";
    --azul: #1C80DF;
}
/* Fontes */ 
@font-face {
font-family: "San Francisco Display Ultralight";
font-style: normal;
font-weight: 400;
src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight") format("svg")
}

@font-face {
font-family: "San Francisco Display Thin";
font-style: normal;
font-weight: 400;
src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

@font-face {
font-family: "San Francisco Display Medium";
font-style: normal;
font-weight: 400;
src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

@font-face {
font-family: "San Francisco Display Semibold";
font-style: normal;
font-weight: 400;
src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold") format("svg")
}

@font-face {
font-family: "San Francisco Display Bold";
font-style: normal;
font-weight: 400;
src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold") format("svg")
}

/* Reset */ 
html{
    scroll-behavior: smooth;
}
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "San Francisco Display Medium";
    font-size: 14px;
    
}
.mt-150{
    margin-top: 100px;
}
/* Header */ 
header{
    background: url('/images/header.png') no-repeat center bottom;
    background-size: cover;
    padding: 50px 0 0 0;
    color: white;
}
header h1{
    background: url('/images/logo.png') no-repeat;
    text-indent: -99999em;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    -moz-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    height: 68px;
    width: 68px;
    border-radius: 13px;
}
nav a{
    line-height: 53px;
    color: white;
}
.download{
    background: #0DF8C8;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    -moz-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    text-align: center;
    padding: 15px 25px;
    line-height: 20px;
    margin-top: 10px;
}
.fone{
    background: url('../images/telefone.png') no-repeat center right;
    height: 758px;
}
.visa{
    background: url('../images/Visa-Card.png') no-repeat;
    width: 331px;
    height: 196px;
    display: inline-block;
    border: none;
    margin-top:63%;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    -moz-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    border-radius: 12px;
}
#banner-carrossel{
    position: relative;
    top: 30%;
}
#banner-carrossel h2{
    font-family: var(--bold);
    font-size: 5em !important ;
}
#banner-carrossel span{
    color: #0B4F7A;
}
.carousel-indicators{
    top: 40%;
    left: 95% ;
    width: 15px;
    display: block;
    float: right;
    margin: 0;
}
.carousel-indicators li{
    background: url('../images/marker-inative.png') no-repeat;
    height: 16px;
    width: 16px;
    display: block !important;
    opacity: 1;
    clear: both;
    margin: 0 0 5px 0;
    border: 0;
}
.carousel-indicators .active{
    background-image: url('../images/marker-active.png');
}
.carousel-item{
    width: 100%;
}

#to-content{
    background: url('../images/Scroll-Down.png')  no-repeat;
    width: 61px;
    height: 65px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 150px;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    -moz-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    border-radius: 40px;
}

.box{
    border-radius: 20px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    display: block;
    padding: 40px;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray; 
    transition-duration: 0.5s;
    border: 1px solid #f0f0f0;
}
.box:hover{
    -webkit-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    -moz-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
    cursor: pointer;
}
.box .ico{
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.box h3{
    font-family: var(--semi);
    font-size: 18px;
    color: #141414;
    margin: 50px 0 10px 0;
}
.box:hover h3{
    color: var(--azul);
}
.box span{
    color: #B2B2B2;
}
.box .download{
    margin: 40px 0;
    opacity: 0;
    transition-duration: 0.5s;
}
.box:hover .download{
    opacity: 1;
}

#qualidades{
    background: url('../images/bg-content.png') no-repeat center top;
    color: #909090;
    padding: 380px 0 380px 0;
    margin-top: 250px;
}
.circulos{
    margin: 0 auto;
    width: 220px;
    height: 220px;
}
#qualidades h3{
    font-family: var(--bold);
    font-size: 36px;
    color: var(--azul);
}
#qualidades h3 span{
    color: #141414;
    clear: both;
    font-family: var(--medio);
}
.right{
    margin-top: 20px;
}
.modern-design{
    color: #fff;
    padding: 500px 0;
}
.modern-design h3, .modern-design h3 span{
    color: #fff !important;
}

#blog-rodape{
    background: url('/images/bg-content-2.png') no-repeat center top;
}
.blog{
    padding: 400px 0 300px 0;
}
.blog h2{
    width: 100%;
    text-align: center;
    font-family: var(--semi);
    font-size: 36px;
    color: var(--azul);
}
.blog h3{
    font-size: 36px;
    width: 100%;
    text-align: center;
    font-family: var(--medio);
}
.blog .post-home{
    -webkit-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    -moz-box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    box-shadow: 0px 0px 15px 3px rgba(124,209,245,0.30);
    padding: 40px;
    background: #fff;
    color: #B2B2B2;
    border-radius: 20px;
    width: 30%;
    margin: 50px 19px;
}
.blog .post-home .cat{
    background: rgb(124,209,245);
    background: linear-gradient(223deg, rgba(124,209,245,1) 0%, rgba(28,128,223,1) 100%);
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    width: auto;
    float: left;
    color: #fff;
    border-radius: 4px;
    clear: both;
    display: block;
    margin-bottom: 15px;
}
.blog .post-home h4{
    color: #000;
    float: left;
    font-size: 18px;
}
.blog .post-home .autor{
    float: left;
    width: 100%;
    margin-top: 10px;
}
.blog .post-home .autor .nome{
    font-size: 12px;
    color: #000;
    margin-top: 2px;
}
.blog .post-home .autor .data{
    font-size: 10px;
    color: #B2B2B2;
}
footer{
    padding: 50px 0 100px 0;
    align-content: center;
    text-align: center;
}
footer h3{
    background: url('../images/get_in.png') no-repeat center bottom;
    padding: 15px 0 50px 0;
    color: #fff;
    font-family: var(--bold);
    font-size: 38px;

}
footer .formulario{
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    font-size: 14px;
    color: #141414;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: var(--semi);
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
}
#name,#email{
    max-width: 49%;
    border: 1px solid #E2E2ED;
    padding: 25px 15px;
    float: left;
}
#email{
    max-width: 50% !important;
    border-right: none;
}
#subject{
    width: 100%;
    border: 1px solid #E2E2ED;
    padding: 25px 15px;
}
#message{
    width: 100%;
    border: none;
    padding: 25px 15px;
    min-height: 150px;
    border: 1px solid #E2E2ED;
}
footer button{
    margin: 15px auto;
    background: #0DF8C8;
    color: #fff;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.15);
    padding: 10px 60px;
    font-size: 18px;
    border: none;
    border-radius: 40px;
}

@media screen and (max-width: 780px) {
    body{
        overflow-x: hidden;
    }
    #qualidades{
        margin-top: 50px;
        padding: 150px 0;
    }
    .modern-design{
        padding: 150px 0;
    }
    .fone{
        background-size: contain;
        background-position: top center;
    }
    .save-time .right img{
        width: 100%;
    }
    .post-home{
        width:60% !important;
        margin: 10px auto !important;
    }
    .blog{
        padding: 150px 0 100px;
    }
  }
  @media screen and (max-width: 420px) {
    .banner_m{
        margin: 40px auto 0 auto;
    }
    .banner_m .carousel-item{
        font-size: 12px !important;
    }
    .mt-150{
        margin-top: 20px;
    }
    .box{
        margin-bottom: 15px;
    }
    #qualidades{
        padding-top: 150px;
        padding-bottom: 30px;    
    }
    .d-sm-none{
        display: none;
    }
    .modern-design{
        padding: 280px 0;
    }
    .save-time{
        padding: 120px 0;
    }
    .mv img, .cfl img{
        width: 100%;
    }
    .post-home{
        width: 90% !important;
        padding: 30px !important;
    }
    .d-sm-block{
        display: block !important;
    }
  }